@import url(https://fonts.googleapis.com/css?family=Raleway);
/* line 7, /Users/seanriordan08/Desktop/kpraccountancy/app/assets/stylesheets/welcome.scss */
.top-bar-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  box-shadow: 0 1px 10px #333;
  z-index: 1000;
}

/* line 16, /Users/seanriordan08/Desktop/kpraccountancy/app/assets/stylesheets/welcome.scss */
.top-bar {
  padding-top: 10px;
  height: 50px;
  text-align: center;
  background-color: #f8f8f8;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  z-index: 1001;
}

/* line 27, /Users/seanriordan08/Desktop/kpraccountancy/app/assets/stylesheets/welcome.scss */
.content {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

