<div class="row footer">
	<p class="float_left">
		© 2015 - Circular 230 Disclosure
	</p>
	<div id="social_ln" class="btn navbar-btn pull-right"><%= image_tag("In-2C-28px-R.png", size: "37x28", alt: "Linked In") %></div>
</div>

<script type="text/javascript">
	$('#social_ln').click(function(){
		window.location.href = 'https://www.linkedin.com/in/kpr-accountancy-3257a110a';
	});
</script>