<div class="header">
	<img class="float_left" src="assets/logo_50.png" width="50px" height="50px">
	<ul class="float_left">
		<li>KPR Accountancy</li>
	</ul>

	<ul class="float_right">
		<li>Services</li>
		<li>|</li>
		<li>About</li>
		<li>|</li>
		<li>Pricing</li>
	</ul>

</div>