<div class="header">
	<img class="float_left" src="assets/logo_50.png" width="50px" height="50px">
	<ul class="float_left">
		<li>KPR Accountancy</li>
	</ul>

	<ul class="float_right">
		<li id="nav_services">Services</li>
		<li id="nav_about">About</li>
		<li id="nav_pricing">Pricing</li>
	</ul>
</div>