<div class="row" style="height: auto; margin-bottom: 20px">
	<div class="col-md-3 center">
		<%=image_tag "profile_tall.jpg", width: "300px", class: "img-responsive profile-img" %>
	</div>

	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Keri Riordan, CPA</h3>
			</div>
			<div class="panel-body">
				Providing valuable accounting services in both the public accounting
				and private industry arenas - Her experience ranges from working with small companies
				under 20 employees, to a key role in overseeing tax compliance operations of a
				$400M corporation. She has dealt closely with company executives discussing
				complex accounting treatment methodologies and business models. And has worked hand-in-hand
				with employee personnel of all levels to understand system capabilities and functions and provide
				valuable training on system capabilities.
				<br><br>
				Keri started her accounting career with 4 years in big-4 public accounting KPMG performing
				company audits, financial statement reviews, and tax preparations for large C-Corps, S-Corps
				and Partnerships. Upon relocating to Colorado with her husband in 2012, Keri joined the internal
				corporate tax department as second in charge of a large corporation grossing $400M plus annually.
				<br><br>
				Her skill set includes business forecast analytics, strategic tax planning, financial statement
				reporting accuracy under Generally Accepted Accounting Principles (GAAP), a broad range of tax
				compliance work, state tax oversight, and merger and acquisition due diligence processes.
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="jumbotron">
			<h2>Keri took her knowledge from both the public and private sectors</h2>
			<p>
				and launched KPR Accountancy to focus on small business strategic planning.
				Creating a personal relationships with her clients
				and being committed to seeing their success stories is her passion for starting KPR Accountancy.
				“KPR Accountancy cares about people first, understanding their needs, and helping them to realize
				capabilities beyond their goals.”
			</p>
			<p>
				Keri earned her Masters of Professional Accountancy and Bachelor of Science degrees from Montana
				State University in Bozeman, MT. She is a Certified Public Accountant (CPA) licensed within the
				State of Colorado.
			</p>
			<p>
				Keri is ready to bring some excitement into the accounting world. Connecting businesses and
				accounting professionals for one common goal – to create business success stories. Goodbye stuffy
				accountants. We are here to change business – radically and responsibly. Bold business needs
				bold accountants.
			</p>
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Technology Integrations</h3>
		</div>
		<div class="panel-body">
			 Work smarter not harder.
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Business Strategy</h3>
		</div>
		<div class="panel-body">
			 Providing the expertise and solutions to make your business successful….to bring direction to your business.
		</div>
	</div>
</div>
