<div id="admin_dashboard">
	Admin Dashboard
	<div class="widgit_container">
		<div class="widgit">
			<a class="chat_action_white" href="#" style="display: block; padding: 10px">Upload Company Accounts</a>
		</div>
	</div>
</div>