<div id="admin_dashboard">
	Admin Dashboard
	<div class="widget_container">
		<div class="widget">
			<div class="widget_image"></div>
			<a class="chat_action_white" href="#" style="display: block; padding: 10px">Upload Company Accounts</a>
		</div>
	</div>
</div>