<div class="news_feed">
	<div class="title center">
		News Feed
		<% if current_user && current_user.admin? %>
			<div class="add_news_article"><%= image_tag("Add.svg", alt: "Add") %></div>
		<% end %>
	</div>

	<div class="news_row_top">
		<%= render partial: "welcome/news_row_top_content", locals: { news_articles: news_articles } %>
	</div>
	<div class="news_row_bottom">
		<%= render partial: "welcome/news_row_bottom_content", locals: { news_articles: news_articles } %>
	</div>
</div>

<script>
	$('.add_news_article').on("click", function(){
		$('.news_row_top').fadeOut(200).delay(200).empty();
		$('.news_row_bottom').fadeOut(200).delay(200).empty();
		$('.news_slider').slick('unslick');

		$('.news_feed').append("<%= j(render partial: "welcome/new_article") %>");
		$('.new_article').css("opacity", "0").animate({
			opacity: 1
		}, 200);
	});

	$('.news_feed_body').on("click", function(){
		url_path = $(this).attr("data-link");
		window.open(url_path, '_blank');
	});
</script>
