<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">News - The next generation of accountants</h3>
			</div>
			<div class="panel-body">
				Example Text
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Why scheduling accuracy matters</h3>
			</div>
			<div class="panel-body">
				Example Text
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Clients are partners too</h3>
			</div>
			<div class="panel-body">
				Example Text
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Santa Clause sued by IRS</h3>
			</div>
			<div class="panel-body">
				Quis autem vel eum iure reprehenderit qui in ea voluptate velit
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Tiger Escapes Zoo, Accountants Give Chase.</h3>
			</div>
			<div class="panel-body">
				Quis autem vel eum iure reprehenderit qui in ea voluptate velit
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Shortage of papershreders hits northwest</h3>
			</div>
			<div class="panel-body">
				Quis autem vel eum iure reprehenderit qui in ea voluptate velit
			</div>
		</div>
	</div>
</div>

<section class="bg-2 full-size">
	<div class="col-sm-10 col-sm-offset-1 text-center">
		<h1>Real News Coming Soon</h1>
	</div>
</section>
