<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">System Integration</h3>
			</div>
			<div class="panel-body">
				All pricings are a fixed fee determined based on your individual needs. Our customized pricing plan options
				allow you to choose how involved you would like KPR to be. All services are guaranteed to your satisfaction
				as KPR believes whole-heartedly in the quality and reliability of services to our clients.
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Financial Strategy and Accuracy</h3>
			</div>
			<div class="panel-body">
				To schedule a free “Meet & Greet” or to ask a question about how KPRs capabilities can assist in bringing your
				financial performance to the next level, please contact us using the form below. KPR Accountancy will be in touch
				with you within 2-3 business days.
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				Thanks for your interest in KPR Accountancy!
			</div>
		</div>
	</div>
</div>
