<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Contact Us</h3>
			</div>
			<div class="panel-body">
				<br>
				All pricings are a fixed fee determined based on your individual needs. Our customized pricing plan options
				allow you to choose how involved you would like KPR to be. All services are guaranteed to your satisfaction
				as KPR believes whole-heartedly in the quality and reliability of services to our clients.
				<br><br>
				To schedule a free “Meet & Greet” or to ask a question about how KPRs capabilities can assist in bringing your
				financial performance to the next level, please contact us using the form below. KPR Accountancy will be in touch
				with you within 2-3 business days.
				<br><br>
					<a href="mailto:kriordan@kpraccountancy.com?Subject=Pricing Inquiry" target="_top">kriordan@kpraccountancy.com</a>
				<br><br><br>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				Thanks for your interest in KPR Accountancy!
			</div>
		</div>
	</div>
</div>
