<div class="view-port">
	<div class="home">
		<%= render partial: "home" %>
	</div>

	<div class="about" style="display: none">
		<%= render partial: "about" %>
	</div>

	<div class="news" style="display: none">
		<%= render partial: "news" %>
	</div>
</div>