<div class="homepage-hero-module">
	<div class="video-container">
		<div class="filter"></div>
		<video autoplay loop class="fillWidth">
			<source src="/assets/Nature-Sunset.mp4" type="video/mp4" />
			<source src="/assets/Nature-Sunset.webm" type="video/webm" />
			Your browser does not support the video tag. I suggest you upgrade your browser.
		</video>
		<div class="poster hidden">
			<!--<img src="/assets/video_fail_backups/Nature-Sunset.jpg" alt="">-->
		</div>
	</div>
</div>

<div class="content">
	Ankara, Turkey (CNN)Thousands of people gathered in the streets of Ankara on Sunday near the site of two deadly bomb blasts that tore through crowds taking part in a peace rally in the capital a day earlier.

	The attack, for which no group has so far claimed responsibility, killed at least 95 people, wounded nearly 250 others and threatened to deepen divisions and distrust in Turkey's polarized society.

	"This was supposed to be a peace rally. This was supposed to be about bringing Turkey together to show unity amongst the Turks and the Kurds and the other ethnic groups. This attack very much has now ripped that apart," said Sajjan Gohel, the international security director at the Asia-Pacific Foundation in London.

	Two suicide bombers are believed to have caused the blasts near the city's main train station, Turkish Prime Minister Ahmet Davutoglu said in a televised address to the nation.

	A wounded man lays on the ground at the site of an explosion in Ankara, Turkey, on Saturday, October 10. Two powerful bombs exploded near the main train station in Ankara on Saturday morning
	20 photos: Explosions rock Ankara, Turkey
	The atrocity is the deadliest single terrorist attack on Turkish soil and has happened at a politically sensitive time, just three weeks before national elections.

	The huge blasts shook high-rise office buildings and left bodies protest banners and flags scattered across the ground.

	"This is an attack that does not target a specific group; it is an attack on the entire nation and (an) attack on our unity. Turkey is a country that has managed to maintain peace in the region," Davutolgu said.

	Scuffles with police near scene of bombings
	On Sunday, people once again massed in Ankara's streets, this time expressing solidarity with the victims. Other demonstrations were also expected elsewhere across the country, which has declared three days of mourning over the attacks.

	Twin bombs targeted peace rally in Turkey
</div>
<br><br>

<div class="content">
	Twin bombs targeted peace rally in Turkey 01:29
	One group in the capital, some of whom were carrying red flowers to commemorate the dead, tried to reach the scene of the blasts.

	But the group, whose members included opposition lawmakers, were blocked by police officers. Scuffles broke out, and police fired tear gas into the air.

	The confrontations reflected the heightened tensions in the aftermath of the attack.

	"An attack that took place in Ankara is very much designed to create political, economic and social repercussions, and one worries that in the build up to the elections there could be follow-up events that further damage the social fabric of Turkey," Gohel said.

	"It's very important that cool heads prevail, that there is a proper investigation, that the culprits are identified quickly and also then brought to justice," he told CNN, warning that without answers, public anger could intensify.

	Kurdish-linked rallies attacked previously
	Most of the victims were attending a lunchtime demonstration calling for an end to the renewed conflict between the Kurdistan Workers' Party (PKK) and the Turkish government. Those taking part included the pro-Kurdish HDP, or People's Democratic Party, which said on Twitter two of its parliamentary candidates were killed in the blasts.

	Rallies involving Kurdish groups in Turkey have been hit by bombings three times this year. A suicide attack in the town of Suruc, near the Syrian border, in July killed 34 people. A supporter of the Islamic extremist group ISIS was blamed for carrying out that attack, but the group never claimed responsibility.

	Kurdish forces have been battling ISIS jihadists across a swath of northern Iraq and Turkey.

	The Turkish government recently changed its stance in the fight against ISIS and allowed the U.S. to launch strikes on the militant group's positions from Incirlik Air Base in southern Turkey.

	President Barack Obama spoke with Turkish President Recep Tayyip Erdogan on Saturday and "conveyed his deepest personal sympathies for those killed and injured in these heinous attacks, and affirmed that the American people stand in solidarity with the people of Turkey in the fight against terrorism and shared security challenges in the region," according to a White House statement.

	Pope Francis on Sunday spoke of grief over the bombings during his regular appearance in St Peter's Square.

	Before leading worshipers in the silent prayer, Francis lamented that the attackers had struck against defenseless people who were demonstrating for peace.
</div>

