//Brand Color Scheme
$kpr-white: #F8FFFC;
$kpr-ltgreen: #CCFCCB;
$kpr-green: #96E6B3;
$kpr-yellow: #E7E247;
$kpr-black: #383838;

.profile-img {
  border: 1px solid $kpr-black;
  border-radius: 4px;
}