div.error-message {
  display: inline-block;
  width: 100%;
  padding: 7px;
  margin-bottom: 20px;
  color: #2d2d2d;
  font-family: sans-serif;
  font-size: 1.3em;
  text-shadow: 0 1px #FFCCC0;
  border-radius: 4px;
  background-color: #F2A79B;
  cursor: pointer;
  box-sizing: border-box;
}