.divider {
  height:50px;
}

.full-size {
  height: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: auto;
}

.mid-size {
  height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: auto;
}

.bg-1 {
  background: asset-data-url("top_view.jpg") no-repeat center center fixed;
  color: #333;
  @media screen and (max-width: 699px) {
    background-size: cover;
    background-position: center top;
  }
  @media screen and (min-width: 700px) {
    background-size: cover;
  }
}

.bg-2 {
  margin: 0 0 20px 0;
  background: asset-data-url("skyline_crop.jpg") no-repeat top center fixed;
  color:#fff;
  background-size: cover;
}

