// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Raleway);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin shadow {
  -webkit-box-shadow: 0 1px 3px 0 #999;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 1px 3px 0 #999;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0 1px 3px 0 #999;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

$kpr-white: #F8FFFC;
$kpr-ltgreen: #CCFCCB;
$kpr-green: #96E6B3;
$kpr-yellow: #E7E247;
$kpr-black: #383838;

body {
  margin: 0;
  padding: 0;
  background-color: $kpr-white;
}

.top-bar-container {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  z-index: 2000;
}

.scrolled {
  @include shadow;
  transition: .5s;
  background-color: $kpr-white;
  opacity: .7;
}

.top-bar {
  height: 50px;
  padding: 20px 0;
  background-color: transparent;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  z-index: 1001;

  .logo {
    float: left;
    padding: 0 10px;
    cursor: pointer;
  }

  .navigation {
    display: inline;
    float: right;

    ul {
      margin: 0;

      li {
        list-style-type: none;
        display: inline;
        padding: 0 20px;
        cursor: pointer;

        &:hover {
          background-color: #AAA;
        }
      }
    }

  }
}

.main-wrapper {
  .hero {
    width: 100%;
    height: 400px;
//    background: $kpr-black url("/assets/flatirons.png") no-repeat top left fixed;
    background: $kpr-black url("/assets/video_fail_backups/Nature-Sunset.jpg") no-repeat top left fixed;
    background-size: cover;
  }

  .color-block {
    clear: both;

    .ltgreen {
      float:left;
      width: 20%;
      height: 80px;
      background-color: $kpr-ltgreen;
    }
    .green {
      float:left;
      width: 20%;
      height: 80px;
      background-color: $kpr-green;
    }
    .yellow {
      float:left;
      width: 20%;
      height: 80px;
      background-color: $kpr-yellow;
    }
  }

  .content {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
}
