// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Raleway);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin shadow {
  -webkit-box-shadow: 0 1px 3px 0 #999;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 1px 3px 0 #999;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0 1px 3px 0 #999;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

@mixin color-block {
  float: left;
  width: 20%;
  height: 10px;
}

@mixin full-section {
  width: 100%;
  height: 300px;
  clear: both;
}

$kpr-white: #F8FFFC;
$kpr-ltgreen: #CCFCCB;
$kpr-green: #96E6B3;
$kpr-yellow: #E7E247;
$kpr-black: #383838;

body {
  margin: 0;
  padding: 0;
  background-color: $kpr-white;
}

.top-bar-container {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  transition: .2s;
  z-index: 2000;
}

.scrolled {
  @include shadow;
  transition: .1s;
  background-color: $kpr-white;
  opacity: .95;
}

.top-bar {
  height: 50px;
  background-color: transparent;
  color: #333;
  font-family: 'Raleway', sans-serif;
  z-index: 1001;

  .logo {
    float: left;
    padding: 20px 10px;
    cursor: pointer;
    font-size: 32px;
  }

  .navigation {
    display: inline;
    float: right;
    padding: 26px 20px;
    font-size: 20px;

    ul {
      margin: 0;

      li {
        list-style-type: none;
        display: inline;
        padding: 0 20px;
        cursor: pointer;

        &:hover {
          background-color: #AAA;
        }
      }
    }

  }
}

.main-wrapper {
  .hero {
    width: 100%;
    height: 400px;
    background: $kpr-black url("/assets/video_fail_backups/Nature-Sunset-c4d848603ef401bc6af54c3cfcc9352123270782231f8f7ed46d73a5bebf3e7a.jpg") no-repeat top left fixed;
    background-size: cover;
  }

  .color-block {
    clear: both;

    .ltgreen-block {
      @include color-block;
      background-color: $kpr-ltgreen;
    }
    .green-block {
      @include color-block;
      background-color: $kpr-green;
    }
    .yellow-block {
      @include color-block;
      background-color: $kpr-yellow;
    }
  }

  .content-block {
    width: 20%;
    float: left;
  }

  .content {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

  .full-section {
    .services {
      @include full-section;
      background-color: #DDD;
    }
    .mission {
      @include full-section;
      background-color: #EEE;
    }
    .footer {
      width: 100%;
      height: 100px;
      clear: both;
      color: $kpr-white;
      background-color: $kpr-black;
    }
  }
}
