//Reset all css
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

//Branding
$kpr-white: #d7dedb;
$kpr-ltgreen: #CCFCCB;
$kpr-green: #96E6B3;
$kpr-yellow: #E7E247;
$kpr-black: #383838;

body {
  width: 100%;
  height: 100%;
  background-color: #F8FFFC;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.center {
  text-align: center;
}

.header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  bottom: auto;
  color: $kpr-white;
  background-color: rgba(0,0,0,0.3);

  img { padding-left: 10px; }

  ul {
    padding: 15px 10px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 100;

    li {
      display: inline;
      padding: 0 10px;
    }
  }
}

section {
  font-family: 'Lora', serif;
  font-size: 16px;

  .title {
    padding-bottom: 20px;
    font-family: 'Nixie One', serif;
    font-size: 30px;
  }

  .hero {
    width: 100%;
    min-height: 600px;
    padding: 20px;

    a {
      display: inline-block;
      width: 130px;
      height: 35px;
      padding: 5px 0;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border-radius: 4px;
      color: $kpr-black;
      background-color: $kpr-white;
      font-family: 'Lora', serif;
      font-size: 20px;
      text-decoration: none;
      border: 1px solid $kpr-white;
      &:hover {
        transition: 150ms;
        border: 1px solid $kpr-white;
        color: $kpr-white;
        background-color: transparent;
      }
    }
  }

  .mission_statement {
    width: 100%;
    height: auto;
    padding: 20px;
    background-image: url('brickwall.png');
    text-align: center;
  }

  .news_feed {
    width: 100%;
    height: 500px;
    padding: 20px;
    background-image: url('darkdenim3.png');
    color: $kpr-white;
    text-align: center;
  }

  .services {
    width: 100%;
    height: 600px;
    padding: 20px;
    text-align: center;
    color: $kpr-black;
    background-color: $kpr-ltgreen;
  }
}

.thumbnail {
  display: inline-block;
  width: 300px;
  padding: 10px 60px;
  text-align: left;
  overflow: auto;

  .heading {
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
}

  .panel-heading.yellow {
    background-color: #E7E247;
  }

  .panel-heading.green {
    background-color: #96E6B3;
  }

  .panel-heading.ltgreen {
    background-color: #CCFCCB;
  }

  .container-fluid.ltgreen {
    background-color: #CCFCCB;
  }
