//Brand Color Scheme
$kpr-white: #F8FFFC;
$kpr-ltgreen: #CCFCCB;
$kpr-green: #96E6B3;
$kpr-yellow: #E7E247;
$kpr-black: #383838;

body.bg-two-tone {
  height: 100%;
  background-color: $kpr-white;
  overflow-x: hidden;
}

.panel-heading.yellow {
  background-color: $kpr-yellow;
}

.panel-heading.green {
   background-color: $kpr-green;
 }

.panel-heading.ltgreen {
  background-color: $kpr-ltgreen;
}

.container-fluid.ltgreen {
  background-color: $kpr-ltgreen;
}

.panel-body::-moz-selection { background: $kpr-yellow }
.panel-body::selection { background: $kpr-yellow }

.center {
  text-align: center;
}
