<!DOCTYPE html>
<html>
<head>
  <title>KPR Accountancy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="top-bar-container">
		<div class="top-bar">
			<div class="logo">KPR Accountancy</div>

			<div class="navigation">
				<ul>
					<li>work</li>
					<li>about</li>
					<li>services</li>
					<li>contact</li>
					<li>sign in</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="main-wrapper">
		<%= yield %>
	</div>

</body>
</html>
